body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

/* CONTROLES */
.controls {
    margin: 15px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #222;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #00ffcc;
    color: black;
}

/* CANVAS */
canvas {
    width: 100%;
    max-width: 500px;
    height: 120px;
    background: black;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
}

/* GALERÍA */
#gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.wave-item {
    background: #111;
    padding: 10px;
    border-radius: 10px;
}

.wave-item img {
    width: 150px;
    border-radius: 5px;
}

.wave-item a {
    display: block;
    margin-top: 5px;
    color: #00ffcc;
    text-decoration: none;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.pad {
    background: #1a1a1a;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    cursor: pointer;
}

.pad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pad:active {
    transform: scale(0.9);
    box-shadow: 0 0 20px #00ffcc;
}
